/* large screen */
.large-screen-content {
    display: flex;
    background-color: black;
    transition: background-color 0.5s ease-in-out;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.large-screen-content .left-links {
    display: flex;
    align-items: center;
    margin-left: 50px;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: scale(0.8);
}

.large-screen-content .left-links.loaded{
    opacity: 1;
    transform: scale(1.0);
}

.large-screen-content .left-links a {
    color: white;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
    margin-right: 100px;
    font-weight: bold;
    cursor: pointer;
}

.large-screen-content .right-links {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: scale(0.8);
}
.large-screen-content .right-links.loaded {
    opacity: 1;
    transform: scale(1.0);
}

.large-screen-content .right-links a {
    color: white;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
}

.large-screen-content .left-links a.active{
    color:rgb(180, 33, 62) !important; 
    transition: color 0.25s;
}
.large-screen-content .right-links a.active {
    color:rgb(32, 154, 255) !important;
    transition: color 0.25s;
}

.portfolio-active {
    background-color: white !important;
    transition: background-color 0.5s ease-in-out;
}

.portfolio-active .left-links a {
    color: black;
    transition: color 0.5s ease-in-out;
}

.portfolio-active .right-links a {
    color: black;
    transition: color 0.5s ease-in-out;
}

.large-screen-content a {
    transform: scale(1.0) !important; 
    transition: transform 0.3s !important; 
}

.large-screen-content a:hover{
    transform: scale(1.2) !important;
}

/* small screen */

.small-screen-content{
    background-color: #000000;
    transition: background-color 0.5s ease-in-out;
    padding: 15px 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.small-screen-content .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    opacity: 0;
    transition: opacity 2s;
}

.small-screen-content .links.loaded{
    opacity: 1;
}

.small-screen-content .links a {
    color: white;
    text-decoration: none;
    transform: scale(1.0);
    transition: transform 0.5s, color 0.3s ease-in-out;
}

.small-screen-content .links a.active{
    color:rgb(180, 33, 62); 
    transform: scale(1.2);
}

.small-screen-content .contact.active {
    color:rgb(32, 154, 255) !important;
    transform: scale(1.2);
}

.portfolio-active .links a{
    color: black;
}