<section *ngIf="!isSmallScreen" id="about" class="large-about-section">
  <div class="title">What about me?</div>
  <div class="moving-image-container">
    <img src="assets/images/Canai.jpg" alt="me">
  </div>  

  
  <div class="about-container">
    <div class="about-item">
      <h1>Education</h1>
      <img class="logo" src="assets/images/pklogo.png" alt="pk">
      <p class="name">Politechnika Krakowska<br>im. Tadeusza Kościuszki</p>
      <p class="date">2020 - current</p>
      <img class="line" src="assets/images/line.png" alt="line">
      <p class="description">Computer Science<br>IV year</p>
    </div>
  </div>
  <div class="about-item">
    <h1>Work</h1>
    <img class="logo" src="assets/images/gigancilogo.svg" alt="giganci">
    <p class="name">Giganci Programowania</p>
    <p class="date">2022 - current</p>
    <img class="line" src="assets/images/line.png" alt="line">
    <p class="description">Programming Trainer<br>C#, Unity, Python, Minecraft, App Inventor</p>
  </div>
</section>
<div *ngIf="!isSmallScreen" class="about-footer-large"></div>

<section *ngIf="isSmallScreen" id="about" class="small-about-section">
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 <h1>about</h1>
 
</section>
<div *ngIf="isSmallScreen" class="about-footer-small"></div>

