<div class="between"></div>
<section *ngIf="!isSmallScreen" id="about" class="large-about-section">
  <div class="header-text">What about me?</div>
  <div class="education">
    <div class="image">
        <img src="assets/images/pkzdjecie.jpg" alt="Obrazek" class="pkzdjecie">
    </div>
    <div class="text">
        <h3>Cracow University<br>of Technology</h3>
        <h2>2020 - current</h2>
        <h4>Computer Science</h4>
        <P>I am a student at Cracow University of Technology, currently in my <b>fourth year</b> of study pursuing an engineering degree. I started my academic journey in 2020, and I am on track to graduate in 2024.</P>
        <a href="https://www.pk.edu.pl/index.php?lang=pl" target="_blank">
          <img class="pklogo" src="assets/images/pklogo.png" alt="Obrazek">
        </a>
    </div>
  </div>
  <div class="work">
   <div class="text">
        <h3>Giganci Programowania</h3>
        <h2>2022 - current</h2>
        <h4>PROGRAMMING TRAINER</h4>
        <P>I work at Giganci Programowania, a company that specializes in teaching children aged 7-19 programming, including <b>C#, Unity</b> and <b>Python.</b></P>
        <a href="https://www.giganciprogramowania.edu.pl/" target="_blank">
          <img class="gplogo" src="assets/images/gigancilogo.svg" alt="Obrazek">
        </a>
        
      </div>
   <div class="image">
    <img src="assets/images/gigancizdjecie.jpg" alt="Obrazek" class="gpzdjecie">
    </div>
  </div>
</section>