.between{
  height: 50px;
  background: white;
}

.large-about-section{
  background-color: white;
  color: black;
}

.header-text{
  font-size: 7vw;
  text-align: center;
  padding: 25px 0 0 0;
}

.education {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  padding: 5% 0 15% 0;
}

.image img {
  max-width: 100%;
  height: auto;
}

.text {
  width: 100%;
}


.text h4{
  font-size: 2vw;
  margin: 0;
}
.text h2{
  color: darkgoldenrod;
  font-size: 1vw;
  font-weight: normal;
  margin-bottom: 0;
}
.text h3{
  font-size: 3vw;
  font-weight: bold;
  margin-top: 0;
}
.text p{
  font-size: 1vw;
}


.text h2, h3, h4, p{
  padding: 0 15% 0 15%;
}


.work {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-content: flex-end;
  padding: 5% 0 15% 0;
}
.work .image {
  margin-left: auto;
}


.pklogo, .gplogo{
  width: 20%;
  transform: scale(1.0);
  transition: transform 0.3s;
  padding: 0 15% 0 15%;
}

.pklogo:hover, .gplogo:hover{
  transform: scale(1.05);
}
