.large-contact {
    margin-top: 100px;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.large-contact .title-container {
    display: flex;
    margin-top: 50px;
    font-size: 72px;
}
.large-contact .title-container h1 {
    text-align: center;
    margin-top: 15px;    
    margin-bottom: 40px;
}

.contact-large-icons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact-large-icons img {
    width: 12vw;
    height: auto;
}

#facebook-large, #linkedIn-large, #github-large, #art-large, #email-large, #cv-large {
    opacity: 30%;
    transform: scale(1.0);
    filter: drop-shadow(0px 0px 0px black);
    transition: opacity 0.5s, transform 0.5s, filter 2s;
}

#facebook-large:hover, #linkedIn-large:hover, #github-large:hover, #art-large:hover, #email-large:hover, #cv-large:hover {
    opacity: 100%;
    transform: scale(1.1);
}

#facebook-large:hover{
    filter: drop-shadow(0px 0px 111px #4267B2);
}
#linkedIn-large:hover{
    filter: drop-shadow(0px 0px 111px #0A66C2);
}
#github-large:hover{
    filter: drop-shadow(0px 0px 111px #FFFFFF);
}
#facebook-large:hover{
    filter: drop-shadow(0px 0px 111px #4267B2);
}
#art-large:hover{
    filter: drop-shadow(0px 0px 111px #32beee);
}
#cv-large:hover{
    filter: drop-shadow(0px 0px 111px #FFFFFF);
}



/* small */

.small-contact {
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.small-contact .title-container {
    display: flex;
}

.small-contact .title-container h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;    
    margin-bottom: 20px;
}

.contact-small-icons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-small-icons img {
    width: 130px;
    height: auto;
}