<section id="contact">
    <div class="title-container">
        <h1>Where to find me?</h1>
    </div>
    <div class="contact-icons">
        <a href="https://www.facebook.com/damianek.kaniewski/" target="_blank">
            <img src="../../assets/images/facebookIcon.png" id="facebook" alt="facebook">
        </a>
        <a href="https://www.linkedin.com/in/damian-kaniewski-43b008236/" target="_blank">
            <img src="../../assets/images/linkedinIcon.png" id="linkedIn" alt="linkedIn">
        </a>
        <a href="https://github.com/damiankaniewski" target="_blank">
            <img src="../../assets/images/githubIcon.png" id="github" alt="github">
        </a>
        <a href="mailto:damian.kaniewski@onet.pl" target="_blank">
            <img src="../../assets/images/emailIcon.png" id="email" alt="email">
        </a>
    </div>

</section>
