<section id="contact" [ngClass]="isSmallScreen ? 'small-contact' : 'large-contact'">
    <div class="title-container">
        <h1>Where to find me?</h1>
    </div>
    <div [ngClass]="isSmallScreen ? 'contact-small-icons' : 'contact-large-icons'">
        <a href="https://www.facebook.com/damianek.kaniewski/" target="_blank">
            <img [id]="isSmallScreen ? 'facebook-small' : 'facebook-large'" src="assets/images/facebookIcon.png" alt="facebook">
        </a>
        <a href="https://www.linkedin.com/in/damian-kaniewski-43b008236/" target="_blank">
            <img [id]="isSmallScreen ? 'linkedIn-small' : 'linkedIn-large'" src="assets/images/linkedinIcon.png" alt="linkedIn">
        </a>
        <a href="https://github.com/damiankaniewski" target="_blank">
            <img [id]="isSmallScreen ? 'github-small' : 'github-large'" src="assets/images/githubIcon.png" alt="github">
        </a>
        <a href="https://www.artstation.com/dabba9" target="_blank">
            <img [id]="isSmallScreen ? 'art-small' : 'art-large'" src="assets/images/artIcon.png" alt="cv">
        </a>
        <a href="mailto:damian.kaniewski.contact@gmail.com" target="_blank">
            <img [id]="isSmallScreen ? 'email-small' : 'email-large'" src="assets/images/emailIcon.png" alt="email">
        </a>
        <a href="assets\Damian Kaniewski - CV.pdf" target="_blank">
            <img [id]="isSmallScreen ? 'cv-small' : 'cv-large'" src="assets/images/cvIcon.png" alt="cv">
        </a>
    </div>
</section>
