<section *ngIf="!isSmallScreen" id="skills" class="large-skill">
    <div id="image-container">
      <img [src]="imagePath" alt="Damian Kaniewski">
    </div>
    <div class="table-container">
      <div class="header">
        <p>What Sets Me Apart?</p>
      </div>
      <div class="skills-list" (mouseleave)="onSkillHover('')">
        <p (mouseenter)="onSkillHover('Angular')">Angular/TypeScript</p>
        <p (mouseenter)="onSkillHover('HTML')">HTML/CSS</p>
        <p (mouseenter)="onSkillHover('Firebase')">Google Firebase</p>
        <p (mouseenter)="onSkillHover('C#')">C# programming language</p>
        <p (mouseenter)="onSkillHover('Blender')">Blender</p>
        <p (mouseenter)="onSkillHover('Ableton')">Ableton</p>
      </div>
    </div>
</section>
