<section id="home" [ngClass]="{'home-section': true, 'small-screen': isSmallScreen, 'large-screen': !isSmallScreen}">
  <div class="main-content">
    <div class="text">
      <h1 class="main-title">Hi, I'm Damian.</h1>
      <h2 *ngIf="!isSmallScreen" class="sub-title">I'm a 4th year student at Cracow University of Technology.</h2>
      <h2 *ngIf="isSmallScreen" class="sub-title">I'm a 4th year student at<br>Cracow University of Technology.</h2>
    </div>
    <div class="image-container" [style.transform]="'scale(' + (1 - imageScale/10) + ')'">
      <img src="assets/images/me.jpg" alt="My Photo">
    </div>
  </div>
</section>
